{{ if isset .Site.Params "recent_posts" }}
{{ if .Site.Params.recent_posts.enable }}

<section class="bar background-white no-mb">
    <div class="container">

        
            <div class="row">
                <div class="col-md-4 col-sm-3" style="margin-top:10px;">
                    <div class="iframely-embed"><div class="iframely-responsive" style="padding-bottom: 52.25%; padding-top: 120px;"><a href="https://blog.coinbase.com/coinbase-and-mastercard-partner-to-revolutionize-nft-purchase-experience-8e486a392c55" data-iframely-url="//iframely.net/lYsoLt7"></a></div></div><script async src="//iframely.net/embed.js" charset="utf-8"></script>
        
                    <!-- /.box-image-text -->

                </div>
                <div class="col-md-4 col-sm-3" style="margin-top:10px;">
                    <div class="iframely-embed"><div class="iframely-responsive" style="padding-bottom: 52.25%; padding-top: 120px;"><a href="https://blog.coinbase.com/coinbase-and-mastercard-partner-to-revolutionize-nft-purchase-experience-8e486a392c55" data-iframely-url="//iframely.net/lYsoLt7"></a></div></div><script async src="//iframely.net/embed.js" charset="utf-8"></script>
        
                    <!-- /.box-image-text -->

                </div>
                <div class="col-md-4 col-sm-3" style="margin-top:10px;">
                    <div class="iframely-embed"><div class="iframely-responsive" style="padding-bottom: 52.25%; padding-top: 120px;"><a href="https://blog.coinbase.com/coinbase-and-mastercard-partner-to-revolutionize-nft-purchase-experience-8e486a392c55" data-iframely-url="//iframely.net/lYsoLt7"></a></div></div><script async src="//iframely.net/embed.js" charset="utf-8"></script>
        
                    <!-- /.box-image-text -->

                </div>

            </div>
            <br>
            <div class="row">
                <div class="col-md-4 col-sm-3" style="margin-top:10px;">
                    <div class="iframely-embed"><div class="iframely-responsive" style="padding-bottom: 52.25%; padding-top: 120px;"><a href="https://blog.coinbase.com/coinbase-and-mastercard-partner-to-revolutionize-nft-purchase-experience-8e486a392c55" data-iframely-url="//iframely.net/lYsoLt7"></a></div></div><script async src="//iframely.net/embed.js" charset="utf-8"></script>
        
                    <!-- /.box-image-text -->

                </div>
                <div class="col-md-4 col-sm-3" style="margin-top:10px;">
                    <div class="iframely-embed"><div class="iframely-responsive" style="padding-bottom: 52.25%; padding-top: 120px;"><a href="https://blog.coinbase.com/coinbase-and-mastercard-partner-to-revolutionize-nft-purchase-experience-8e486a392c55" data-iframely-url="//iframely.net/lYsoLt7"></a></div></div><script async src="//iframely.net/embed.js" charset="utf-8"></script>
        
                    <!-- /.box-image-text -->

                </div>
                <div class="col-md-4 col-sm-3" style="margin-top:10px;">
                    <div class="iframely-embed"><div class="iframely-responsive" style="padding-bottom: 52.25%; padding-top: 120px;"><a href="https://blog.coinbase.com/coinbase-and-mastercard-partner-to-revolutionize-nft-purchase-experience-8e486a392c55" data-iframely-url="//iframely.net/lYsoLt7"></a></div></div><script async src="//iframely.net/embed.js" charset="utf-8"></script>
        
                    <!-- /.box-image-text -->

                </div>

            </div>
    </div>
    <!-- /.container -->
</section>


<!-- /.bar -->
{{ end }}
{{ end }}
