{{ if isset .Site.Params "recent_posts" }}
{{ if .Site.Params.recent_posts.enable }}
<script async src="//iframely.net/embed.js" charset="utf-8"></script>
        
<section class="bar background-white no-mb">
    <div class="container">
        <div class="section-title"><h2 style="font-family: Roboto, Helvetica, Arial, Bangla339, sans-serif;">Get In-depth of the INNER WORKINGS from our latest blogs!</h2></div>

        
            <div class="row">
                <div class="col-md-4 col-sm-3" style="margin-top:10px;">
                    <div class="iframely-embed" style=""><div class="iframely-responsive" style="padding-bottom: 0px; height: 350px;"><iframe src="//iframe.ly/api/iframe?url=https://medium.com/swlh/a-simple-guide-on-using-bert-for-text-classification-bbf041ac8d04&amp;key=8f877e43b17697e78563ffddf734bf32&amp;app=1&amp;" allowfullscreen="" style="box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 3px;"></iframe></div></div>
                    <!-- /.box-image-text -->

                </div>
                <div class="col-md-4 col-sm-3" style="margin-top:10px;">
                    <div class="iframely-embed" style=""><div class="iframely-responsive" style="padding-bottom: 0px; height: 350px;"><iframe src="//iframe.ly/api/iframe?url=https://medium.com/axinc-ai/colorization-a-machine-learning-model-for-colorizing-black-and-white-images-829e35e4f91c&amp;key=8f877e43b17697e78563ffddf734bf32&amp;app=1&amp;" allowfullscreen="" style="box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 3px;"></iframe></div></div>
                    <!-- /.box-image-text -->

                </div>
                <div class="col-md-4 col-sm-3" style="margin-top:10px;">
                    <div class="iframely-embed" style=""><div class="iframely-responsive" style="padding-bottom: 0px; height: 350px;"><iframe src="//iframe.ly/api/iframe?url=https://medium.com/isiway-tech/deep-nlp-for-hate-speech-detection-25eed707997&amp;key=8f877e43b17697e78563ffddf734bf32&amp;app=1&amp;" allowfullscreen="" style="box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 3px;"></iframe></div></div>
                    <!-- /.box-image-text -->

                </div>

            </div>
    </div>
    <!-- /.container -->
</section>


<!-- /.bar -->
{{ end }}
{{ end }}